html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  
}

/* ---------------------------------------------------------------Navbar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    position: absolute;
    padding: 20px;
    top: 0;
    margin-bottom: 0;
    border: 0;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.25); */
    float: right;
    margin-right: 0px;
    clear: left;
}

.navbar .navbar-default {
    border: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-width: 0;
    padding: 0;
    margin: 0;
}

.navbar-nav {
    border: 0px !important;
    padding: 0;
    margin: 0;
}

.navbar .navbar-toggler .navbar-inner {
    border: none;
    border-radius: 0;
    padding: 0;
}

.navbar-brand {
    font-weight: bold;
}

.nav-right {
    float: right;
}

/*--------------------------------------------------------Navbar Buttons */

.btn--features {
    background-color: transparent;
    font-weight: bold;
    height: 35px;
    color: yellow;
    border: solid;
    border-color: yellow;
    border-radius: 23px;
    width: 120px;
    text-align: center;
    text-decoration: none;
}

.btn--features--wide {
    background-color: transparent;
    font-weight: bold;
    height: 35px;
    color: yellow;
    border: solid;
    border-color: yellow;
    border-radius: 23px;
    width: 150px;
    text-align: center;
    text-decoration: none;
}

.btn--sign--in {
    background-color: transparent;
    font-weight: bold;
    height: 35px;
    color: yellow;
    border: none;
    text-decoration: none;
}

.header-desktop-row-page1 {
    background: url("../images/near-east.jpg");
    background-position: relative;
    background-repeat: no-repeat top left fixed ;
    background-size: cover;
    height: 95vh;
    min-height: 360px;
    width: 100vw;
    top: 0;
    left: 0;
    -webkit-background-size: cover;	/* works on WebKit browsers */
     -moz-background-size: cover;	/* works on Mozilla browsers */
     -o-background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    z-index: 0;
    
}

/* -----------------------------------Bootstrap Page Row and Column Settings */

.header-desktop-row-page2 {
   background: url("../images/antarctica.jpg"); 
    background-position: relative;
    background-repeat: no-repeat top left fixed ;
    background-size: cover;
    height: 100vh;
    min-height: 360px;
    width: 100vw;
    top: 0;
    left: 0;
    -webkit-background-size: cover;	/* works on WebKit browsers */
     -moz-background-size: cover;	/* works on Mozilla browsers */
     -o-background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.header-desktop-column {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0; 
}

.header-phones-row {
    background: url("../images/swing.jpg");
    background-position: relative;
    background-repeat: no-repeat top left fixed ;
    background-size: cover;
    height: 100vh;
    min-height: 360px;
    top: 0;
    left: 0;
    color: #ffff00;
    -webkit-background-size: cover;	/* works on WebKit browsers */
     -moz-background-size: cover;	/* works on Mozilla browsers */
     -o-background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.header-phones-column {
    width: 100%;
    padding: 0 0px 0px;
    min-height: 360px;
    margin: 0 0px 0px;
    float: none;
}

/* -----------------------------------------------------Landing Page Card */

.card {
    height: 370px;
    width: 240px;
    margin-top: 40px;
    margin-left: 25px;
}

#card1 {
    display: inline flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    justify-content: center;
    color: yellow;
}

#card2 {
    display: none;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    justify-content: center;
    color: yellow;
}

.display-none {
    display: none !important;
}

.display-inline {
    display: inline !important;
}

.specials-row {
    padding-bottom: 10%;
    font-size: 1.75em;
    line-height: 2;
    color: #fafafa;
    
}

#specials-p {
    font-size: .8em;
    color: yellow;
}

.specials-features-desktop {
    position: absolute;
    top: 12%;
    padding-bottom: 96px;
    color: yellow;
    z-index: 1;
}

.specials-features-phone {
    position: absolute;
    top: 90%;
    padding-bottom: 96px;
    color: yellow;
    z-index: 1;
    text-align: center;
}

.search {
    background: url("../images/cloud141.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    padding-bottom: 100px;
    padding-top: 42px;
    position: relative;
    margin-bottom: 30px;

}

/*------------------------------------------------------------------Loader */

#loader {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

/*--------------------------------------------------Device Size Threshholds */

@media (max-width: 768px) and (min-width: 375px) {
    #search {
        width: 80%;
    }
    .customjumbotron {
        border-radius: 0.3rem;
        text-align: center;
        background: rgba(224, 224, 224, 0.5);
        top: 0px auto;
        margin-left: 0px auto;
        margin-right: 0px auto; 
        position: absolute;
        z-index: 1;
        font-size: x-small; 
        width: 50%;
    }
    .custom-center-form {
        padding-top: 0px;
	    margin: 0 auto;
	    max-width: 70% auto;
    }
}

@media (max-width: 992px) {
    .hone-section,
    .search-section,
    .contact-section {
        background-attachment: scroll;
    }
    .customjumbotron{
        border-radius: 0.3rem;
        text-align: center;
        background: rgba(224, 224, 224, 0.5);
        top: 160px;
        margin-left: 80px auto;
        margin-right: 20px auto; 
        position: absolute;
        z-index: 1;
    }
    .custom-center-form {
        padding-top: 30px;
	    min-height: 200px;
	    margin: 0 auto;
	    max-width: 40%;
    }
}

@media (min-width: 992px) {
    .search-section {
        background-position: center;
        background-size: cover;
        width: 100vw;
    }
    .contact-section {
        background-position: center;
        background-size: cover;
        width: 100vw;
    }
    .customjumbotron {
        border-radius: 0.3rem;
        text-align: center;
        background: rgba(224, 224, 224, 0.5);
        top: 160px;
        margin-left: 80px auto;
        margin-right: 20px auto; 
        position: absolute;
        z-index: 1;
    }
    .custom-center-form {
        padding-top: 30px;
	    min-height: 200px;
	    margin: 0 auto;
	    max-width: 40%;
    }

}

/*-------------------------------------------------------------Footer */

footer {
   background: url("../images/footer-background3.gif"); 
    display: inline-block;
    color: #219dcd;
    min-height: 10px;
    margin: 0 0 0 0;
    padding: 0px 0px 0px 0px;
    font-family: Roboto, san-serif;
    letter-spacing: 1px;
    position: relative;
    background-size: 100% 100%; 
    z-index: 1;
    width: 100vw;
    top: 0;
    left: -15px;
    right: -15px;
    border: 0px !important;
}

#footer-details {
    padding: 0px;
    /* add padding to the top, bottom, left and right */
}

.footer-icon {
    font-size: 26px;
    color: #e67e22;
}

.legal-btn {
    border: 0px !important;
    background: transparent;
    color: #0080ff;
}

.social-links li a i {
    width: 10px;
    height: 10px;
    padding: 12px 0 0 0px;
    font-size: 18px;
    line-height: 7px;
    text-align: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    border: 0px !important;
}

.social-links li a i:hover {
    color: black;
}

/*----------------------------------------------------------------Google Maps */

#map {
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 360px;

}

/*------------------------------------------------------Searce Page Jumbotron */

.jumbo-legal-desktop {
    border: 2px ;
    text-align: center;
    background: #f2ecd9;
    top: 130px;
    margin-left: 200px;
    margin-right: 20px; 
    position: absolute;
    z-index: 1;
}

.jumbo-legal-phone {
    border: 2px ;
    text-align: center;
    background: #f2ecd9;
    top: 10px;
    margin-left: 200px auto;
    margin-right: 20px auto; 
    position: relative;
    z-index: 1;
}
/*
.jumbo-search {
    position: absolute;
    top: 100px;
    left: 80px;
    width: 80px;
    background: rgba(224, 224, 224, 0.5); /* (0, 151, 19, 0.2); 
    border-radius: 0.3rem;
}
*/
.jumbo-search-desktop {
    border-radius: 0.3rem;
    text-align: center;
    background: rgba(224, 224, 224, 0.5);
    top: 160px;
    margin-left: 80px auto;
    margin-right: 20px auto; 
    position: absolute;
    z-index: 1;
}

.jumbo-search-phone {
    border-radius: 0.3rem;
    text-align: center;
    background: rgba(224, 224, 224, 0.5);
    top: 20px auto;
    margin-left: 10px auto;
    margin-right: 10px auto; 
    position: absolute;
    z-index: 1;
    font-size: x-small;
}


/*------------------------------------------------------Search Page Text Box */

#rc-countryname {
  display: block;
  padding: 5px 8px;
  font-size: 1.4em;
  color: #808080;
  max-width: 550px;
  margin-bottom: 15px;
}

#gh-weather-data {
    color: black;
}

.center-form-desktop {
	        padding-top: 30px;
	        min-height: 200px;
	        margin: 0 auto;
	        max-width: 40%;
	    }

.center-form-phone {
	    padding-top: 10px;
	    margin: 0 auto;
	    max-width: 70%;
	}


/*---------------------------------------------GITHUB STUFF FOR TESTING*/
