body {
    font-family: 'Roboto', sans-serif;
}

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    position: absolute;
    padding: 20px;
    top: 0;
    margin-bottom: 0;
    border: 0;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.25); */
    float: right;
    margin-right: 0px;
    clear: left;
}

.navbar .navbar-default {
    border: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-width: 0;
    padding: 0;
    margin: 0;
}

.navbar-nav {
    border: 0px !important;
    padding: 0;
    margin: 0;
}

.navbar .navbar-toggler .navbar-inner {
    border: none;
    border-radius: 0;
    padding: 0;
}

.navbar-brand {
    font-weight: bold;
}

.nav-right {
    float: right;
}

.btn--features {
    background-color: transparent;
    font-weight: bold;
    height: 35px;
    color: yellow;
    border: solid;
    border-color: yellow;
    border-radius: 23px;
    width: 120px;
    text-align: center;
    text-decoration: none;
}

.btn--features--red {
    background-color: transparent;
    font-weight: bold;
    height: 35px;
    color: red;
    border: solid;
    border-color: red;
    border-radius: 23px;
    width: 150px;
    text-align: center;
    text-decoration: none;
}

.header-desktop-row-page1 {
    background: url("../images/near-east.jpg");
    background-position: relative;
    background-repeat: no-repeat top left fixed ;
    background-size: cover;
    height: 100vh;
    min-height: 360px;
    top: 0;
    left: 0;
    -webkit-background-size: cover;	/* works on WebKit browsers */
     -moz-background-size: cover;	/* works on Mozilla browsers */
     -o-background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    z-index: 0;
    
}

.header-desktop-row-page2 {
    background: url("../images/antarctica.jpg");
    background-position: relative;
    background-repeat: no-repeat top left fixed ;
    background-size: cover;
    height: 100vh;
    min-height: 360px;
    top: 0;
    left: 0;
    -webkit-background-size: cover;	/* works on WebKit browsers */
     -moz-background-size: cover;	/* works on Mozilla browsers */
     -o-background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.header-desktop-column {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0; 
}

.header-phones-row {
    background: url("../images/swing.jpg");
    background-position: relative;
    background-repeat: no-repeat top left fixed ;
    background-size: cover;
    height: 100vh;
    min-height: 360px;
    top: 0;
    left: 0;
    color: #ffff00;
    -webkit-background-size: cover;	/* works on WebKit browsers */
     -moz-background-size: cover;	/* works on Mozilla browsers */
     -o-background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.header-phones-column {
    width: 100%;
    padding: 0 0px 0px;
    min-height: 360px;
    margin: 0 0px 0px;
    float: none;
}

.card {
    height: 370px;
    width: 240px;
    margin-top: 40px;
    margin-left: 25px;
}

}
.specials-row {
    padding-bottom: 10%;
    font-size: 1.75em;
    line-height: 2;
    color: #fafafa;
    
}

#specials-p {
    font-size: .8em;
    color: yellow;
}


.specials-features {
    position: absolute;
    top: 12%;
    padding-bottom: 96px;
    color: black;
    z-index: 1;
}

.search {
    background: url("../images/cloud141.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    padding-bottom: 100px;
    padding-top: 42px;
    position: relative;
    margin-bottom: 30px;

}

#loader {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}



@media (max-width: 768px) and (min-width: 375px) {
    #search {
        width: 80%;
    }
}

@media (max-width: 992px) {
    .hone-section,
    .search-section,
    .contact-section {
        background-attachment: scroll;
    }
}

@media (min-width: 992px) {
    .search-section {
        background-position: center;
        background-size: cover;
        width: 100vw;
    }
    .contact-section {
        background-position: center;
        background-size: cover;
        width: 100vw;
    }

}

#card1 {
    display: inline flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    justify-content: center;
    color: yellow;
}

#card2 {
    display: none;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    justify-content: center;
    color: yellow;
}

.display-none {
    display: none !important;
}

.display-inline {
    display: inline !important;
}